body{
  background-color: forestgreen;
  color: lightyellow;
}
  
h1 {
  color: ghostwhite;
  margin-left: 20px;
}
h2 {
  color: ghostwhite;
  margin-left: 20px;
}
h3 {
  color: ghostwhite;
  margin-left: 20px;
}

